.footer {
  background-color: #ba2d0b1a;
  border-top: 1px solid #5a4545;
  margin-top: 30px;
  .info {
    margin-right: 30px
  }
  .title {
    font-family: Merriweather, sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 12px
  }
  .subtitle {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    margin-bottom: 13px
  }
  .address {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
    .item {
      margin: 5px
    }
  }
  .links {
    white-space: nowrap;
    a {
      margin: 5px
    }
    .certificates {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      .item {
        margin: 5px
      }

    }
  }
}
